// .disabled {
//     opacity: .5;
// }

.button{
    border: none;
    position: relative;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 700;
    color: #fff;
    margin: 0 12px;
    transition: all 250ms ease-in-out;
}

.upvote {
    background-color: rgba(75, 192, 8, 0.864);
}

.downvote {
    background-color: rgba(255, 0, 0, 0.814);
}

.button:hover:not([disabled]){
    transform: scale(1.1);
}

.button[disabled]{
    opacity: .5;
    background-color: #ddd;
}