.history{

}

.history-element {
    margin: 36px;
}

.history-element img {
    max-width: 128px;
    max-height: 128px;
}

.history-title{
    font-size: 1.3rem;
    font-weight: 800;
    padding-bottom: 6px;
    margin-top: 0;
    border-bottom: 1px solid #444
}

.history-content-name{
    font-size: 1.15rem;
    font-weight: 600;
}